
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container mb-4">
        <div class="row">
           
            <table class="table">
                <tr>
                <th>Total</th>
              
                <th><h2>$100</h2></th>
                </tr>
            </table>

            </div>

        <div class="row">

            <table class="table">

                <tr>
                    <th>Dirreción</th>
                    <th><input type="text" value="" /></th>
                    <th>Télefono</th>
                    <th><input type="text" value="" /></th>
                </tr>

            </table>

            <button class="btn  btn-success">Completar el pago</button>
        </div>
        </div>
