@model IEnumerable<Ecommerce.Models.Product_>

@{
    ViewBag.Title = "index";
}




<script type="text/javascript">


    function addToCart(IdProduct) {
        console.log(IdProduct);
            var dataToLog = { 'Product': IdProduct};
        $.ajax({
            type: "POST",                                              // tipo de request que estamos generando
            url: 'https://localhost:44383/Cart/addToCart',                    // URL al que vamos a hacer el pedido
            data: JSON.stringify(dataToLog),                                                // data es un arreglo JSON que contiene los parámetros que
            // van a ser recibidos por la función del servidor
            contentType: "application/json; charset=utf-8",            // tipo de contenido
            dataType: "json",                                          // formato de transmición de datos
            async: true,                                               // si es asincrónico o no
            success: function (resultado) {                            // función que va a ejecutar si el pedido fue exitoso
                
                console.log("Success");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { // función que va a ejecutar si hubo algún tipo de error en el pedido
                console.log("error" + errorThrown + textStatus);
                console.log(XMLHttpRequest.responseText);
            }
        });
    }
       /* $(document).ready(function () {
   $('#addToCartButton').click(function (e) {
       e.preventDefault();


   });
});*/
</script>
<div class="container">
    @Html.Partial("_productGrip")
    </div>
