@model IEnumerable<Ecommerce.Models.Product_>

@{
    ViewBag.Title = "index";
}

<div class="row row-cols-1 row-cols-md-3">
    @Html.Partial("_productGrip")

</div>

<div class="row row-cols-1 row-cols-md-3">
    @Html.Partial("_productGrip")

</div>
