
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_layoutLogin.cshtml";
    @model string
}


@using (Html.BeginForm())
{
    <div class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Ingresar</h1>
            <p>@Model</p>
        </div>

        <div class="form-label-group">
            <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputEmail">Correo electronico</label>
        </div>

        <div class="form-label-group">
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <label for="inputPassword">Contraseña</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Recuerdame
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p>Aún no tienes cuenta, registrate es gratis</p>
        <p class="mt-5 mb-3 text-muted text-center">© 2019-2020</p>

        </div>
        }
